<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
      }
      .email-form {
        margin: 0 auto;
        box-sizing: border-box;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        width: 540px;
        background: #F8F8F7;
        border-radius: 8px;
      }
      .email-form__content {
        background: #F8F8F7;
        padding: 32px 50px 24px 50px;
        border-radius: 8px;
      }
      .email-form__title {
        margin: 0px 0px 24px 0px;
        font-weight: normal;
        font-size: 20px;
      }
      .email-form__input {
        height: 96px;
        background: #FFFFFF;
        border: 1px solid #C3C2CF;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px;
        overflow: scroll;
      }
      .email-form__buttons {
        display: flex;
        background: #FFFFFF;
        padding: 24px 50px 32px 50px;
        border-radius: 8px;
      }

      .email-form__buttons__button {
        display: block;
        border: 0;
        margin: 0px 16px 0px 0px;
        padding: 8px 16px;
        background-color: #4262FF;
        border-radius: 6px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <div class="email-form">
      <div class="email-form__content">
        <h3 class="email-form__title">Share <strong>Board name</strong> with others</h3>
        <div class="email-form__input" id="emails-input-container"></div>
      </div>
      <div class="email-form__buttons">
        <input type="button" class="email-form__buttons__button" value="Add email" onclick="addEmail()">
        <input type="button" class="email-form__buttons__button" value="Get emails count" onclick="getEmailsCount()">
      </div>
    </div>
    <script type="application/javascript">
      var emailsInputContainer = document.getElementById("emails-input-container");
      var emailsInput = EmailsInput(emailsInputContainer, {
        customClassName: 'custom-class',
        emails: ['test@gmail.com', 'test@outlook.com'],
      });
      emailsInput.onEmailsChange(function(emails) { console.log(emails);});

      function makeEmail() {
        var strValues = "abcdefghijklmnopqrstuvxywz";
        var size = Math.round(8 * Math.random()) + 2;
        var domainSize = Math.round(3 * Math.random()) + 1;
        var strEmail = "";
        for (var i = 0; i < size; i++) {
          strEmail = strEmail + strValues.charAt(Math.round(strValues.length * Math.random()));
        }

        strEmail = strEmail + "@";
        for (var j = 0; j < size; j++) {
          strEmail = strEmail + strValues.charAt(Math.round(strValues.length * Math.random()));;
        }

        strEmail = strEmail + ".";
        for (var j = 0; j < domainSize; j++) {
          strEmail = strEmail + strValues.charAt(Math.round(strValues.length * Math.random()));;
        }

        return strEmail;
      }

      function addEmail() {
        var emails = emailsInput.getEmails();
        emails.push(makeEmail());
        emailsInput.setEmails(emails);
      }

      function getEmailsCount() {
        alert("Email count: " +  emailsInput.getEmails().length);
      }
    </script>
  </body>
</html>